

body
{
    padding-top: 50px;
}

.starter-template
{
    padding: 40px 15px;
    text-align: center;
}

.nav_color
{
    background-color: #4375b1;
}

.navbar-brand
{
    background-color: #260c8b;
}

.button_margin
{
    margin-left: 20px;
}

